**Lab Program 1b]:Write a Python program which accepts the radius of a circle from the user
and compute the area.**

In [7]:
# Radius of a circle
r = float(input('Enter the radius of the circle'))
area = 3.142*r*r
print('The area of the circle =',area)

Enter the radius of the circle5.5
The area of the circle = 95.04549999999999

**Lab Program 1c]: Write a Python program which accepts the user's first and last name and
print them in reverse order with a space between them.**

In [8]:
# First and Last name in reverse order
first = input('Enter your first name :')
last = input('Enter your last name :')

print('Reverse order is :', last +" "+first)

Enter your first name :gouri
Enter your last name :rajesh
Reverse order is : rajesh gouri

**Lab Program 2a]: Write a python program for checking whether the given number is an even number or not.**

In [2]:
num = int(input('Enter a number:'))
if num%2 == 0:
    print(f'The number {num} is an even number')
else:
    print(f'The number {num} is an odd number')

Enter a number:12
The number 12 is an even number

**Lab Program 2b]: Write a Python program to find the median among three given numbers.**

In [3]:
a = int(input('Enter first number:'))
b = int(input('Enter second number:'))
c = int(input('Enter third number:'))

if a>b and a>c: # a is greatest
    if b>c:
        print(b,' is the median value')
    else:
        print(c,' is the median value')
elif b>a and b>c: # b is the greatest
    if a>c:
        print(a,' is the median value')
    else:
        print(c,' is the median value')
elif c>a and c>b:# c is the greatest
    if a>b:
        print(a,' is the median value')
    else:
        print(b,' is the median value')

Enter first number:13
Enter second number:45
Enter third number:19
19  is the median value

**Lab Program 3a]: Write a python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included).**

In [1]:
print('The numbers divisible by 7 and multiple of 5 between 1500 and 2700 are:')
for i in range(1500,2701):
    if i%7==0 and i%5==0:
        print(i)

The numbers divisible by 7 and multiple of 5 between 1500 and 2700 are:
1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

**LAB PROGRAM 3b]: Write a python program to guess a number between 1 to 9.**

In [2]:
import random

rand_num = random.randint(1,9)
while True:
    guess = int(input('Guess a number between 1 and 9:'))
    if rand_num==guess:
        print('Your guess is correct!')
        break
    else:
        print('Try again!')

Guess a number between 1 and 9:5
Try again!
Guess a number between 1 and 9:1
Try again!
Guess a number between 1 and 9:6
Try again!
Guess a number between 1 and 9:4
Try again!
Guess a number between 1 and 9:3
Try again!
Guess a number between 1 and 9:6
Try again!
Guess a number between 1 and 9:8
Your guess is correct!

**Lab Program 4a]: Write a Python function that takes a list of words and returns the length of
the longest one.**

In [3]:
def word_length(a):
    maxi=0
    for item in a:
        if len(item)>maxi:
            maxi=len(item)
    return maxi


num = int(input("Enter the number of words:"))
slist=[]
for i in range(num):
    slist.append(input("Enter the word:"))

res=word_length(slist)
print("The length of the longest word is:",res)

Enter the number of words:5
Enter the word:Helloooooo
Enter the word:gouri
Enter the word:howwwwwwwwwww
Enter the word:are
Enter the word:you?
The length of the longest word is: 13

**Lab Program 4b]: Write a Python program to count the number of characters (character
frequency) in a string.**

In [15]:
def freq(s):
    count_dict={}
    for i in range(len(s)):
        count=0
        for j in range(len(s)):
            if s[i]==s[j]:
                count+=1
        count_dict[s[i]]=count
    return count_dict
    
s = input("Enter the string:")
res = freq(s)
print(f"The count of characters in the given string is:")
print(res)

Enter the string:hello good morning gouri
The count of characters in the given string is:
{'h': 1, 'e': 1, 'l': 2, 'o': 5, ' ': 3, 'g': 3, 'd': 1, 'm': 1, 'r': 2, 'n': 2, 'i': 2, 'u': 1}

**LAB PROGRAM 5a]: Write a python program to find the sum and average of elements in a list.**

In [3]:
num = int(input('Enter number of elements in the list:'))
l= list(map(int,input('Enter the elements of the list separated by a comma:').strip().split(','))) #[:num]
sum = 0
for i in l:
    sum+=i

le=len(l)
print('The sum of elements in the list is: ',sum)
print('The average of elements in the list is: ',sum/le)

Enter number of elements in the list:5
Enter the elements of the list separated by a comma:1,2,3,4,5
The sum of elements in the list is:  15
The average of elements in the list is:  3.0

 **LAB PROGRAM 5b]: Write a Python program to remove duplicates from a list.**

In [4]:
num = int(input('Enter number of elements in the list:'))
l= list(map(int,input('Enter the elements of the list separated by a comma:').strip().split(','))) #[:num]

new_list=[]
for i in l:
    if i not in new_list:
        new_list.append(i)
    else:
        continue
print("The list after removing duplicates is:", new_list)

Enter number of elements in the list:5
Enter the elements of the list separated by a comma:1,2,1,3,2
The list after removing duplicates is: [1, 2, 3]

**Lab Program 5c]: Write a python script to sort (ascending and descending) a dictionary by value.**

In [12]:
import operator

d={1:"Hello",2: "Gouri",3:"How",4:"Are",5:"You?"}

print("Dictionary in ascendig order is:")
print(dict(sorted(d.items(),key=operator.itemgetter(1),reverse=False)))

print("Dictionary in descendig order is:")
print(dict(sorted(d.items(),key=operator.itemgetter(1),reverse=True)))

Dictionary in ascendig order is:
{4: 'Are', 2: 'Gouri', 1: 'Hello', 3: 'How', 5: 'You?'}
Dictionary in descendig order is:
{5: 'You?', 3: 'How', 1: 'Hello', 2: 'Gouri', 4: 'Are'}

**LAB PROGRAM 6a]: Write a python program to add an element to a tuple.**

In [5]:
t = (1,2,3,4,5)

# Inserting element to the end
t=t+(6,7,8,9,10)
print(t)

# Inserting element in between
t= t[:5]+('Hello','I am','Gouri')+t[5:]
print(t)

# Inserting element by converting into list
li= list(t)
li.append('New element here')
t=tuple(li)
print(t)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3, 4, 5, 'Hello', 'I am', 'Gouri', 6, 7, 8, 9, 10)
(1, 2, 3, 4, 5, 'Hello', 'I am', 'Gouri', 6, 7, 8, 9, 10, 'New element here')

**LAB PROGRAM 6b]: Write a python program to add members in a set.**

In [6]:
s=set()
s.add(1)
s.add(2)
s.add(3)
print("Adding members using add:",s)
s.update([10,20,30])
print("Adding members using update:",s)

Adding members using add: {1, 2, 3}
Adding members using update: {1, 2, 3, 10, 20, 30}

**Lab Program 7a]: Write a Python function to find the Max of three numbers.**

In [16]:
def maximum(a,b,c):
    m1=max(a,b)
    m2=max(m1,c)
    return m2
a=int(input("Enter 1st number:"))
b=int(input("Enter 2nd number:"))
c=int(input("Enter 3rd number:"))
print("The maximum of given three numbers is:",maximum(a,b,c))

Enter 1st number:60
Enter 2nd number:30
Enter 3rd number:100
The maximum of given three numbers is: 100

**Lab Program 7b]: Write a Python function to multiply all the numbers in a list.**

In [20]:
def mul(a):
    product=1
    for i in a:
        product*=i
    return product

li=list(map(int,input("Enter the list separated by comma:").strip().split(",")))
print("The product of all the elements in the list is:",mul(li))

Enter the list separated by comma:1,2,3,4,5
The product of all the elements in the list is: 120

**Lab Program 7c]: Write a Python function to calculate the factorial of a number (a non-
negative integer). The function accepts the number as an argument.**

In [21]:
def fact(n):
    if n==0 or n==1:
        return 1
    else:
        return(n*fact(n-1))

while True:
    num=int(input("Enter a positive integer for factorial:"))
    if num>=0:
        print(f"The factorial of {num} is:{fact(num)}")
        break

Enter a positive integer for factorial:-1
Enter a positive integer for factorial:-5
Enter a positive integer for factorial:5
The factorial of 5 is:120

**Lab Program 7d]: Write a Python program to sort a list of tuples using Lambda.**

In [3]:
list_tuples = [(1,2),(2,3,4),(1,3),(1,2,3),(6,4,5),(1,9)]

x = lambda a: sorted(a)
print("The sorted list of tuples is: ", x(list_tuples))

The sorted list of tuples is:  [(1, 2), (1, 2, 3), (1, 3), (1, 9), (2, 3, 4), (6, 4, 5)]

**Lab Program 8a]: Write a Python class to find a pair of elements (indices of the two numbers)
from a given array whose sum equals a specific target number.**

In [32]:
class sum_index:
    
    def __init__(self,arr,sum):
        self.arr = arr
        self.sum = sum
    
    def output(self):
        l = len(self.arr)
        for i in range(l):
            for j in range(i+1,l):
                if self.arr[i] + self.arr[j] == self.sum:
                    print(f"The indices are: {i} and {j}")
            
                    
a = [1,2,3,4,5,6,7,8,9,10]
o1 = sum_index(a,5)
o1.output()

The indices are: 0 and 3
The indices are: 1 and 2

**Lab Program 8b]: Write a Python class named Rectangle constructed by a length and width
and a method which will compute the area of a rectangle.**

In [7]:
class Rectangle:
    
    def __init__(self,length,breadth):
        self.length = length
        self.breadth = breadth
        
    def area(self):
        return self.length*self.breadth

l = int(input("Enter the length of rectangle: "))
b =int(input("Enter the breadth of rectangle: "))

rect1 = Rectangle(l,b)
print("The area of the rectangle is: ", rect1.area())

Enter the length of rectangle: 5
Enter the breadth of rectangle: 10
The area of the rectangle is:  50

**Lab Program 9a]: Write a Python GUI program to add a button in your application using
tkinter module.**

In [19]:
import tkinter as tk

root = tk.Tk()
root.title("Button Window")

label = tk.Label(root,text="My first application").place(x=25,y=5)
btn = tk.Button(root,text="Exit Button",height=2,width=20,command=root.destroy).place(x=35,y=30)
root.mainloop()

**Lab Program 9b]: Write a Python GUI program to create a Combo box with three options
using tkinter module.**

In [20]:
import tkinter as tk
from tkinter import ttk

root = tk.Tk()
root.title("Combo Window")

str_var = tk.StringVar()
label = tk.Label(root,text="My second application").place(x=25,y=5)
comb = ttk.Combobox(root,text=str_var,values=['Rose','Sunflower','Orchids']).place(x=5,y=30)
root.mainloop()

**Lab Program 9c]: Write a Python GUI program to create a Check button widget using tkinter
module.**

In [21]:
import tkinter as tk

root = tk.Tk()
root.title("Check Window")

res= tk.BooleanVar()
label = tk.Label(root,text="My third application").place(x=25,y=5)
chk = tk.Checkbutton(root,text="This is a check button",variable=res).place(x=10,y=30)

root.mainloop()

**Lab Program 10a]: Write a Python GUI program to create a Text widget using tkinter module.
Insert a string at the beginning then insert a string into the current text.
Delete the first and last character of the text.**

In [22]:
import tkinter as tk

root = tk.Tk()
my_text = tk.Text(root)

#Inserting a string at the beginning
my_text.insert("1.0","Hello! This is Gouri.")
#Inserting a string at the current position
my_text.insert("21.0","I study at NHCE.")
#Deleting first and last character of the text
my_text.delete("1.0")
my_text.delete("end-2 char")

my_text.pack()
root.mainloop()

**Lab Program 10b]: Write a Python GUI program to create three radio buttons widgets using
tkinter module.**

In [24]:
import tkinter as tk

root = tk.Tk()
root.title("Radio Window")
root.geometry("400x500")

radio1 = tk.Radiobutton(root,text="FIRST",value=1)
radio1.grid(column=0,row=0)

radio2 = tk.Radiobutton(root,text="SECOND",value=2)
radio2.grid(column=1,row=0)

radio3 = tk.Radiobutton(root,text="THIRD",value=3)
radio3.grid(column=2,row=0)

root.mainloop()

**Lab Program 10c]: Write a Python GUI program to create a Listbox bar widgets using tkinter
module.**

In [25]:
import tkinter as tk

root = tk.Tk()
lab = tk.Label(root,text="Colours")
lb =tk.Listbox(root)
lb.insert(1,"pink")
lb.insert(2,"blue")
lb.insert(3,"red")
lb.insert(4,"green")
lb.insert(5,"yellow")

lab.pack()
lb.pack()

root.mainloop()

**Lab Program 11a]: Write a Python program to create a small GUI application for insert, update
and delete in a table using a backend and front end for creating form.**

In [72]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root")
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE python_lab")

DatabaseError: 1007 (HY000): Can't create database 'python_lab'; database exists

In [73]:
mycursor.close()
mydb.close()

In [75]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database="python_lab")

mycursor = mydb.cursor()
mycursor.execute("create table user(user_id int AUTO_INCREMENT primary key, name varchar(20) NOT NULL, phone_number varchar(10) UNIQUE NOT NULL)")

In [2]:
import mysql.connector
import tkinter as tk

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database="python_lab")

mycursor = mydb.cursor()

def enter_into_database():
    mycursor.execute("insert into user(name,phone_number) values(%s,%s)",(name_entry.get(),phone_entry.get()))
    mydb.commit()

def update_database():
    mycursor.execute("update user set name=%s, phone_number=%s where phone_number=%s",(uname_entry.get(),uphone_entry.get(),uophone_entry.get()))
    mydb.commit()
    
def show_database():
    mycursor.execute("select * from user")
    res = mycursor.fetchall()
    for i in res:
        print(i)

def delete_from_database():
    mycursor.execute("delete from user where name=%s and phone_number=%s",(dname_entry.get(),dphone_entry.get()))
    mydb.commit()
    print("Record has been deleted!")
    
def drop_table():
    mycursor.execute("drop table user")
    mydb.commit()
    print("Table has been dropped")

root = tk.Tk()
root.title("Interactive GUI window")
root.geometry("500x700")
root.config(background="light green")

title = tk.Label(root, text="Hello! Please enter your details.", font=("Georgia",16,"bold","underline"),bg="white",fg="black").place(x=60,y=30)

# Entering details to database
name_label = tk.Label(root,text="Enter your name",font=("Georgia",13)).place(x=30,y=100)
phone_label = tk.Label(root,text="Enter your phone number",font=("Georgia",13)).place(x=30,y=160)

name_entry = tk.Entry(root,font=("Georgia",13),bg="white")
name_entry.place(x=250,y=100,width=200)
phone_entry = tk.Entry(root,font=("Georgia",13),bg="white")
phone_entry.place(x=250,y=160,width=200)

submit = tk.Button(root,text="Submit",bg="yellow",bd=10,command=enter_into_database).place(x=120,y=210)
show = tk.Button(root,text="Show data",bg="yellow",bd=10,command=show_database).place(x=280,y=210)

#Updating details in database
uname_label = tk.Label(root,text="Update your name",font=("Georgia",13)).place(x=30,y=280)
uphone_label = tk.Label(root,text="Update your phone number",font=("Georgia",13)).place(x=30,y=340)
uophone_label = tk.Label(root,text="Enter old phone number",font=("Georgia",13)).place(x=30,y=400)

uname_entry = tk.Entry(root,font=("Georgia",13),bg="white")
uname_entry.place(x=250,y=280,width=200)
uphone_entry = tk.Entry(root,font=("Georgia",13),bg="white")
uphone_entry.place(x=250,y=340,width=200)
uophone_entry = tk.Entry(root,font=("Georgia",13),bg="white")
uophone_entry.place(x=250,y=400,width=200)

update = tk.Button(root,text="Update",bg="yellow",bd=10,command=update_database).place(x=120,y=450)
show = tk.Button(root,text="Show data",bg="yellow",bd=10,command=show_database).place(x=280,y=450)

dtitle = tk.Label(root, text="Delete Profile",font=("Georgia",15),fg="red").place(x=30,y=510)

#Deleting details in database
name_label = tk.Label(root,text="Enter name",font=("Georgia",13)).place(x=30,y=560)
phone_label = tk.Label(root,text="Enter phone number",font=("Georgia",13)).place(x=30,y=600)

dname_entry = tk.Entry(root,font=("Georgia",13),bg="white")
dname_entry.place(x=250,y=560,width=200)
dphone_entry = tk.Entry(root,font=("Georgia",13),bg="white")
dphone_entry.place(x=250,y=600,width=200)

delete = tk.Button(root,text="Delete",bg="yellow",bd=10,command=delete_from_database).place(x=120,y=640)
dropt = tk.Button(root,text="Drop Table",bg="yellow",bd=10).place(x=280,y=640)

root.mainloop()

(2, 'Gouri Rajesh', '1234567890')
(3, 'Goutam', '1234567892')

In [3]:
mycursor.close()
mydb.close()

**Lab Program 12a]: Write a Python program to add, subtract, multiple and divide two Pandas
Series.**

In [1]:
import pandas as pd

In [3]:
d1 = pd.Series([2,3,6,8,10])
d2 = pd.Series([1,3,5,7,9])

In [4]:
print("Adding two Panda Series")
d1+d2

Adding two Panda Series

0     3
1     6
2    11
3    15
4    19
dtype: int64

In [5]:
print("Subtracting two Panda Series")
d1-d2

Subtracting two Panda Series

0    1
1    0
2    1
3    1
4    1
dtype: int64

In [6]:
print("Multiplying two Panda Series")
d1*d2

Multiplying two Panda Series

0     2
1     9
2    30
3    56
4    90
dtype: int64

In [7]:
print("Dividing two Panda Series")
d1/d2

Dividing two Panda Series

0    2.000000
1    1.000000
2    1.200000
3    1.142857
4    1.111111
dtype: float64

**Lab Program 12b]: Write a Python program to convert a dictionary to a Pandas series.**

In [8]:
import pandas as pd

In [9]:
dictionary = {'a': 100, 'b':200, 'c': 300, 'd':400, 'e':500}

In [10]:
print("Original Dictionary")
dictionary

Original Dictionary

{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 500}

In [11]:
panda_series = pd.Series(dictionary)

In [12]:
print("Converted Series")
panda_series

Converted Series

a    100
b    200
c    300
d    400
e    500
dtype: int64